@import url('https://fonts.cdnfonts.com/css/betterworks');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
body{
     display: flex;
     flex-direction: column;
}
.title {
    margin: 20px 0 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: Verdana, sans-serif;
    font-size: 25pt;
    color: rgba(250, 142, 142, 0.71);
    padding: 0;
    margin: 0;
}
.title h1{
    font-family: 'Betterworks', sans-serif;
    font-size: 25px;
    color: rgba(250, 142, 142, 0.71);
    padding: 0;
    margin: 0;
}
.title h2{
    font-family: 'Betterworks', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: rgba(250, 142, 142, 0.71);
    padding: 0;
    margin: 0;
}
.title h3{
    font-family: 'Brush Script MT', sans-serif;
    font-size: 35px;
    color: rgba(250, 142, 142, 0.71);
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
h2{
    font-family: Verdana, sans-serif;
    font-size: 25pt ;
    color: rgba(250, 142, 142, 0.71);
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
footer {
    color: white;
    width: 100%;
    margin-top: 170px;
    height: 50px;
    text-align: center;
    background-color: rgba(190, 190, 190, 0.55);
}

footer.gallery{
    margin-top: 0;
    padding-top: 12px;
}
.logo img{
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;

}
.header-nav:hover {
    color: #c27676;
}
.active{
    color: rgba(238, 0, 0, 0.93);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: rgba(190, 190, 190, 0.55);
    overflow: hidden;
}
nav ul li a {
    font-weight:bold ;
    display: block;
    color: #44403e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: rgba(250, 142, 142, 0.71);
}
#p{
    display: inline-block;
}
h3{
    font-family: Verdana, serif;
    color: white;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.imgContainer img{
    position: relative;
    max-height: 90vh;
    height: 200px;
    width: auto;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 155px;
    height: 200px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}


#slider1:target ~ .imgContainer{
    left: 60%;
}
#slider2:target ~ .imgContainer{
    left: 40%;
}
#slider3:target ~ .imgContainer{
    left: 20%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -20%;
}
#slider6:target ~ .imgContainer{
    left: -40%;
}
#slider7:target ~ .imgContainer{
    left: -60%;
}
.contact-section{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 190, 190, 0.87);
    padding: 5%;
    margin: 5%;
}
.wrap > .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article#me{
    width: 60%;
}

.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover{
    background: #0582E3;
}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info, .contact-form{
        margin: 30px 50px;
    }

    .contact-form h2{
        font-size: 30px;
    }

    .contact-form .text-box{
        width: 100%;
    }
}
article img{
    border: 2px solid #f30a0a;
    box-shadow: 0 0 5px #c27676,0 0 25px #c27676;
    height: 300px;
    width: 300px;
    margin-top: 60px;
    border-radius: 50%;
    transition: 0.5s ease;
}
.text{
    padding: 30px 100px;
}
article h1{
    font-size:20px ;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Betterworks', sans-serif;
    padding: 15px;
}
article h1:after{
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}
blockquote{
    font-family: sans-serif;
    font-size: 27px;
    margin-top: 30px;
}
article h5{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bolder;
    margin-top: 30px;
    font-family: 'Poppins',sans-serif;
    color: #c27676;
    box-shadow: 0 0 5px #c27676,0 0 25px #c27676;
    background-color: rgba(255, 255, 255, 0.7);
}
article p {
    font-size: 17px;
    margin-top: 20px;
}
nav.gallery{
    width: 100%;
    z-index: 1;
}
div#img1{
    background-image: url("images/1.jpg");
}
.caption {
    font-size: 15px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    color: #c27676;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.7s;
    font-family: 'Verdana',sans-serif;
}

#slider1:target ~ .imgContainer #caption1,
#slider2:target ~ .imgContainer #caption2,
#slider3:target ~ .imgContainer #caption3,
#slider4:target ~ .imgContainer #caption4,
#slider5:target ~ .imgContainer #caption5,
#slider6:target ~ .imgContainer #caption6,
#slider7:target ~ .imgContainer #caption7,
#slider8:target ~ .imgContainer #caption8 {
    opacity: 1;
}
